@{
    ViewData["Title"] = "Home Page";
}
<h1 class="">Hello World</h1>
<p class="text-red-500">Đây là chữ màu đỏ</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
